@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

input{
    outline: none;
    border: none;
}

html{
    scroll-behavior: smooth;
}

select{
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
    scrollbar-width: none; /* dla Firefox */
    
}

body::-webkit-scrollbar {
    display: none; /* dla Chrome, Safari i Opera */
}
